body {
  margin: 0;
  padding: 0;  
}

* {
  box-sizing: border-box;
}


/* 컴포넌트 기본 레이아웃 */
.graph-chart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  width: 600px;
  margin: 0 auto;
  padding: 50px;
}


/* 이름 작성 */
.my-name-wrapper {
  display: flex;
  justify-content: right;

  width: 100%;
}


/* 1. 그래프 */
.graph-wrapper {
  display: grid;
  grid-template-columns: 30px minmax(0, 1fr);
  height: 300px;
  background: #f0f0f0;
}

.graph-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px 35px 0;
  text-align: right;
}

.graph-right-side {
  display: grid;
  grid-template-rows: minmax(0, 1fr) 20px;
  
  width: 470px;
  overflow-x: auto;
  overflow-y: hidden;
}

.graph-bar-chart {
  display: flex;
  gap: 20px;
  align-items: end;

  padding: 0 10px;

  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.square-bar {
  width: 20px;
  background-color: #cacaca;
}

.graph-number-chart {
  display: flex;
  gap: 20px;

  padding: 0 10px;
  text-align: center;
}

.number-text {
  width: 20px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* 2. 값 편집 */
.edit-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-table {
  display: flex;
  flex-direction: column;
  gap: 3px;

  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.edit-tr {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 6fr) minmax(0, 1fr);
  gap: 3px;

  text-align: center;
}

.edit-th {
  background: #adacac;
}

.data-row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 6fr) minmax(0, 1fr);
  gap: 20px;

  text-align: center;
}

.edit-tbody {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.edit-tbody tr {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 6fr) minmax(0, 1fr);
  gap: 3px;
}

.edit-tbody tr:nth-child(odd) td {
  background-color: #f0f0f0;
}
.edit-tbody tr:nth-child(even) td {
  background-color: #cacaca;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  font-weight: bold;
}

.hidden {
  display: none;
}

.apply-button {
  margin-left: auto;
}


/* 3. 값 추가 */
.add-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 6fr) minmax(0, 1fr);
  gap: 10px;
}


/* 4. 값 고급 편집 */
.advanced-edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-textbox {
  display: block;
  width: 100%;
  height: 200px;
}

.edit-button {
  margin-left: auto;
}
